<h3><i class="fa fa-bullseye"></i> NFC Contact Tracing</h3>
<div class="section">
    <p class="lead"> NFC contact tracing application to help combat COVID-19 without compromising user's location and
        privacy</p>
</div>
<div class="divider"> </div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"> </i> Log in with Google
    </a>
</div>